/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.results-title {
	font-size: 20px;
  font-weight: bold;
  color: green;
  margin: 15px 0px 10px;
  text-align: center;	
}

.results-desc-column{
	width: 250px;
	white-space:normal;
}

.results-value-column{
	width: 400px;
	white-space:normal;
}

.url-field {
	width:400px;
}

.analyzeButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
